<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Request</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.3/axios.min.js" integrity="sha512-L4lHq2JI/GoKsERT8KYa72iCwfSrKYWEyaBxzJeeITM9Lub5vlTj8tufqYk056exhjo2QDEipJrg6zen/DDtoQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<style>
    .posts span{
        font-size: 20px;

    }
    .posts{
        margin: 0 auto;
    }
    .author{
        list-style: none;
        margin: 10px;
        padding: 10px;
        border: 1px solid #e30020;
        border-radius: 5px;
        font-size: 20px;
    }
    ul{
        padding: 0;

    }
    li{
        margin-left: 20%;
        margin-right: 20%;

    }
    li span{
        display: inline-block;
        text-align: center;


    }
    span:nth-child(1){
        display: inline-block;
    }



li    .btn{
            border-radius: 5px;
            float : right !important;
            border: 1px solid black !important;
            width: 20%;
            margin-top: 2vh;
            margin-right: 5vh;

    }

</style>
<body>

    <!--Title and Author Form --><div class="container">
  <h2 style="text-align: center;">My Posts</h2>
  <div class="form-horizontal" >
    <div class="form-group">
      <label class="control-label col-sm-2" for="title">Title:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="title" placeholder="Enter Title" name="title">
      </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="author">Author:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="author" placeholder="Enter author" name="author">
        </div>
      </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-danger" style="width:100%">Submit</button>
      </div>
    </div>
</div>
</div>


    <!--All posts-->


    <div class="posts">
        <ul class="list-group">

        </ul>
    </div>

    <!--Script-->

    <script>
        $(document).ready(function(){
            //Get all posts
            $.ajax({
                url: 'http://45.55.32.24:3002/posts',
                type: 'GET',
                success: function(data){
                    console.log(data);
                    for(var i = 0; i < data.length; i++){

                        // Add A List Item
                        $('.posts ul').append('<li id='+ `"${data[i].id}"` + 'class="list-group-item "> <span class="author">'  + data[i].title + '</span> <span class="author">' + data[i].author + '</span><button   type="button" class="btn">Danger</button>  </li>');
                    }
                }
            });



            //Add new post
            $('button').click(function(){
                var title = $('#title').val();
                var author = $('#author').val();
                var id = $(this).parent().attr('id');
                // If the content is empty, don't add the post
                if(title == '' || author == ''){
                   alert('Please fill in the form');
                    return;
                }
                $('.posts ul').append('<li id='+ `"${id}"` + 'class="list-group-item "> <span class="author">'  +title + '</span> <span class="author">' + author + '</span><button   type="button" class="btn">Danger</button>  </li>');
                $.ajax({
                    url: 'http://45.55.32.24:3002/posts',
                    type: 'POST',
                    data: {
                        title: title,
                        author: author
                    },

                });
            });


            //Delete post
            $('.posts ul').on('click', 'button', function(){
                // Get the id of the post
                let id = $(this).parent().attr('id');

                // Make a delete request with axios
                axios.delete('http://45.55.32.24:3002/posts/' + id)
                    .then(function(response){
                        console.log(response);
                    })
                    .catch(function(error){
                        console.log(error);
                    });

                    // Remove the post from the DOM
                    $(this).parent().remove();

            });



        });


    </script>



</body>
</html>#